.wrapper {
  display: flex;
  min-height: calc(100vh - var(--ds-header-height));
}

.content {
  flex: 1;
  max-width: var(--ds-docs-max-width);
  padding: var(--ds-space-8) var(--ds-space-6);
  margin: 0 auto;
}
